<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  {{ head_content }}
  <link href="/static/css/blog.css" rel="stylesheet">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>  
</head>

  <body>
    {{main_panel}}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <div class="large-8 columns">
      </div>
    </div>
    
    <div class="container" style="position: relative; top: 100px;">
      <div class="well">
        <h4>Post new blog.</h4>
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="ch_section">
            {{ base_section }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            {% for section in sections %}
            <li><a href="#" onclick="$('#section').val($(this).html()); $('#ch_section').html($(this).html() + '<span class=\'caret\'></span>');">{{ section.section }}</a></li>
            {% endfor %}
          </ul>
        </div>
        
        <!--<form role="form" method="POST" action="/blogs/publish/">
          {% csrf_token %}
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="hidden" name="section" id="section" value="{{ base_section }}">
            <input type="text" class="form-control" id="title" name="title">
            <label for="content">Content:</label>
            <textarea class="form-control" rows="3"  name="content" id="content"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Publish</button>
        </form>-->
        <form method="post" action="/blogs/publish/">
          {% csrf_token %}
	  <div class="file-field">
	    <div class="mb-4">
	      <img id="thumbnail" src="/static/images/avatar.jpg" class="rounded-circle z-depth-1-half avatar-pic"
		   alt="" width="200" height="200">
	    </div>
	    <div class="input-group mb-3">
	      <div class="input-group-prepend">
		<span class="input-group-text" id=""></span>
	      </div>
	      <div class="custom-file">
		<input type="file" class= "btn btn-default" id="inputImage">
	      </div>
	    </div>
	  </div>
          <input type="hidden" name="image" id="image" value="">
	  <script>
	    $('#inputImage').on('change', function(){
		if (this.files && this.files[0]) {
    
		    var FR= new FileReader();
    
		    FR.addEventListener("load", function(e) {
			document.getElementById("thumbnail").src   = e.target.result;
			document.getElementById("image").value = e.target.result;
		    }); 
    
		    FR.readAsDataURL( this.files[0] );
		}
	    });
	  </script>
          <label for="title">Title:</label>
          <input type="hidden" name="section" id="section" value="{{ base_section }}">
          <input type="text" class="form-control" id="title" name="title">
          <input type="hidden" name="contentX">
          <label for="description">Description:</label>
          <input type="text" class="form-control" id="description" name="description">
          <label for="content">Content:</label>
          <textarea id="summernote" name="content"></textarea>
          <button type="submit" class="btn btn-primary" onclick='onPublish(this.form);'>Publish</button>
        </form>
      </div>
      {% if message %}
      <div class="alert alert-info">
        <strong>Info!</strong> {{ message }}.
      </div>
      {% endif %}
    </div>

    <script>
      var Base64={_keyStr:"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=",encode:function(e){var t="";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t="";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,"");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\r\n/g,"n");var t="";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t="";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}}

      $(document).ready(function() {
        $('#summernote').summernote();
      });

      function onPublish(form) {
          var code = $('#summernote').summernote('code');	  
          var encoded = Base64.encode(code);
	  //$("input[name=content]").val(encoded);
	  //$("input[name=editordata]").val('');
      }
    </script>
  </body>
  
</html>
