<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  {{ head_content }}
</head>

  <body>
    {{main_panel}}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div class="blog-header">
          <h1 class="blog-title">Blog</h1>
          <p class="lead blog-description"></p>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">
          {% if blog %}
          <div class="blog-post">
            <h2 class="blog-post-title">  {{ blog.title }}  </h2>
            <p class="blog-post-meta">{{ blog.date }} by  {{ blog.user.uname }} </p>
            <br>{% autoescape off %}{{ blog.content }}{% endautoescape %}
          </div>
          {% endif %}
        </div>
      </div>
      
      {% if user %}
      <form role="form" method="POST" action="/blogs/comment/">
        {% csrf_token %}
        {% if blog %}
        <input type='hidden' name='bid' value='{{ blog.id }}'>
        {% endif %}
        <div class="form-group">
          <label for="title">Add comment:</label>
          <textarea class="form-control" rows="3"  name="comment" id="comment"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
      {% endif %}
      
      {% if comments %}
      <div class="container">
      <ul role="menu" class="list-group">
        {% for comment in comments %}
        <li class="list-group-item">
          <div class="well" style="word-wrap: break-word;">
            <span class="alert alert-info" style="text-align:left">by user {{comment.user.uname}}</span><br>
            <div class="well">
              {{ comment.content }}
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
      </div>
      {% endif %}
    </div>
    
    {% if owner %}
    <div class="container">
      <div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4"><button id='delBlog' type="button" class="btn btn-danger">Delete</button></div>
	<div class="col-sm-4"></div>
      </div>
    </div>
    {% endif %}
    <script>
      $("#delBlog").click(function() {
	  $(location).attr('href','/blogs/remove/' + {{ blog.id}});
      });
    </script>
</body>
  
</html>
