<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  {{ head_content }}
</head>

  <body>
    {{main_panel}}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div class="blog-header">
          <h1 class="blog-title">Blogs</h1>
          <p class="lead blog-description">Actual blogs from users.</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">
          {% if blogs %}
          {% for blog in blogs %}
          <div class="blog-post">
            <h3 class="blog-post-title">
              <a href="/blogs/blog/{{ blog.id }}"  style="text-decoration: none; font-size: 22px;">
                {{ blog.title }}
              </a>
            </h3>
            <p class="blog-post-meta" style="font-size: 15px;">
              {{ blog.date }} by  {{ blog.user.uname }}
            </p>
            <p>{{ blog.description|slice:":255" }}</p>
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>

      <div class="row">
	<ul class="pagination">
	  {% if blogs.has_previous %}
	  <li class="page-item"> <a href="/blogs/{{ blogs.previous_page_number }}">&laquo;</a> </li>
	  {% else %}
	  <li class="page-item disabled"> <a href="">&laquo;</a></li>
	  {% endif %}
          
	  {% for page in blogs.paginator.page_range %}
	  {%   if page == blogs.number %}
	  <li class="page-item active"> <a href="/blogs/{{ page }}">{{ page }}</a></li>
	  {%   else  %}
	  <li class="page-item"> <a href="/blogs/{{ page }}">{{ page }}</a></li>
	  {%   endif %}
	  {% endfor  %}
          
	  {% if blogs.has_next %}
	  <li class="page-item"> <a href="/blogs/{{ blogs.next_page_number }}">&raquo;</a> </li>
	  {% else %}
	  <li class="page-item disabled"> <a href="">&raquo;</a></li>
	  {% endif %}
	</ul>
      </div>
    </div>

  </body>

</html>
