<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  {{ head_content }}
</head>
<body>
  {{ main_panel}}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
    </div>
  </div>
  <script>
    location.href="/blogs/blog/{{ bid }}";
  </script>
</body>
</html>
