<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  {{ head_content }}
</head>

  <body>
    {{main_panel}}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div class="blog-header">
          <h1 class="blog-title">Forum theme</h1>
          <p class="lead blog-description"></p>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">
          {% if theme %}
          <div class="blog-post">
            <h2 class="blog-post-title"> {{ theme.title }} </h2>
            <p class="blog-post-meta">{{ theme.date }} by  {{ theme.user.uname }} </p>
            <p>{{ theme.content }}</p>
          </div>
          {% endif %}
        </div>
      </div>
      
      {% if user %}
      <form role="form" method="POST" action="/forum/theme/comment/">
        {% csrf_token %}
        {% if theme %}
        <input type='hidden' name='tid' value='{{ theme.id }}'>
        {% endif %}
        <div class="form-group">
          <label for="title">Add comment:</label>
          <textarea class="form-control" rows="3"  name="comment" id="comment"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
      {% endif %}
      
      {% if comments %}
      <div class="container">
      <ul role="menu" class="list-group">
        {% for comment in comments %}
        <li class="list-group-item">
          <div class="well" style="word-wrap: break-word;">
            <span class="alert alert-info" style="text-align:left">by user {{comment.user.uname}}</span><br>
            <div class="well">
              {{ comment.comment }}
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
      </div>

      <div class="row">
	<ul class="pagination">
	  {% if comments.has_previous %}
	  <li class="page-item"> <a href="/forum/theme/{{ theme.id }}/{{ comments.previous_page_number }}/">&laquo;</a> </li>
	  {% else %}
	  <li class="page-item disabled"> <a href="">&laquo;</a></li>
	  {% endif %}
          
	  {% for page in comments.paginator.page_range %}
	  {%   if page == comments.number %}
	  <li class="page-item active"> <a href="/forum/theme/{{ theme.id }}/{{ page }}/">{{ page }}</a></li>
	  {%   else  %}
	  <li class="page-item"> <a href="/forum/theme/{{ theme.id }}/{{ page }}/">{{ page }}</a></li>
	  {%   endif %}
	  {% endfor  %}
          
	  {% if comments.has_next %}
	  <li class="page-item"> <a href="/forum/theme/{{ theme.id }}/{{ blogs.next_page_number }}/">&raquo;</a> </li>
	  {% else %}
	  <li class="page-item disabled"> <a href="">&raquo;</a></li>
	  {% endif %}
	</ul>
      </div>
      {% endif %}
    </div>
    

</body>
  
</html>
