<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  {{ head_content }}
</head>

  <body>
    {{main_panel}}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div class="blog-header">
          <h1 class="blog-title">Forum</h1>
          <p class="lead blog-description"></p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="">
        {% if forums %}
        <!--<div class="blog-post">
            <h2 class="blog-post-title"> <a href="/forums/forum/{{ blog.id }}"> {{ forum.title }} </a> </h2>
        </div>-->

        <div class="row">
          {% for forum in forums %}
          <div class="col-sm-3" style="height: 125px;">
            <a href="/forum/section/{{ forum.id }}/" style="text-decoration: none; color: black;">
              <img src="/static/images/{{ forum.title }}.svg" class="img-rounded center-block" width="48" height="48" style="align: center;" alt="{{ forum.title }}" title="{{ forum.title }}">
                <div class="caption">
                  <p class="text-center">{{ forum.title }}</p>
                </div>
              </img>
            </a>
          </div>
          {% if forloop.counter|divisibleby:4 %}
        </div>

        <div class="row">
          {% endif %}
          {% endfor %}
        </div>

        {% endif %}
        </div>
    </div>


</body>

</html>
