<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  {{ head_content }}
</head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
      {{ main_menu }}   
      {{ login }}
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Signin failed.</h1>
        <p>Please try again..</p>
      </div>
    </div>

  
  </body>
  
</html>

