<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  {{ head_content }}
</head>

  <body>
    {{main_panel}}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div class="blog-header">
          <h1 class="blog-title">My blogs</h1>
          <p class="lead blog-description">Actual blogs from me.</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">
          {% if blogs %}
	  <ul class="list-group">
	    <li class="list-group-item list-group-item-secondary">
	      <div class="row">
		<div class="col-sm-4">Title</div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4" style="text-align: right;">Date</div>
	      </div>
	    </li>
            {% for blog in blogs %}
	    <li class="list-group-item list-group-item-light">
	      <div class="row">
		<div class="col-sm-4">
		  <a href="/blogs/blog/{{ blog.id }}"  style="text-decoration: none;">
                    {{ blog.title }}
		  </a>
		</div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4" style="text-align: right;">{{ blog.date }}</div>
	    </li>
	  </ul>
          {% endfor %}
          {% endif %}
        </div>
      </div>

  </body>

</html>
