<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  {{ head_content }}
</head>

  <body>
    {{main_panel}}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div class="blog-header">
          <h1 class="blog-title">News</h1>
          <p class="lead blog-description">Actual news from world.</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">
          {% if news %}
          {% for item in news %}
          <div class="blog-post">
            <h3 class="blog-post-title">
              <a href="{{ item.link }}"  style="text-decoration: none; font-size: 22px;">
                {{ item.title }}
              </a>
            </h3>
            <p>{{ item.description}}
            <p class="blog-post-meta" style="font-size: 15px;">
            {{ item.date }}
            </p>
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>

      <div class="row">
      </div>
    </div>

  </body>

</html>
