<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  {{ head_content }}
</head>

<body>
  
  {{ main_panel }}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>Profile</h1>
      <br>
      <p> {{ message }} </p>
    </div>
  </div>
  
  <div class="container">
    <div class="row centered-form">
      <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
	    <h3 class="panel-title">Update profile data.</h3>
	  </div>
	  <div class="panel-body">
	    <form role="form" method="POST" action="/users/signup/"> 
	      {% csrf_token %}
	      <script type="text/javascript">
                var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
              </script>
              
	      <div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6">
		  <div class="form-group">
		    <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name" value="{{ user.first_name }}">
		  </div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6">
		  <div class="form-group">
		    <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name" value="{{ user.last_name }}">
		  </div>
		</div>
	      </div>
	      <input type="button" value="Update" id="unameUpdate" class="btn btn-info btn-block">
              
	      <div class="form-group">
		<input readonly type="email" name="email"  class="form-control input-sm" placeholder="Email Address" value="user@mail.com">
	      </div>
              
	      <div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6">
		  <div class="form-group">
		    <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password" value="123">
		  </div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6">
		  <div class="form-group">
		    <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password" value="123">
		  </div>
		</div>
	      </div>
	      
	      <input type="button" value="Update" id="passUpdate" class="btn btn-info btn-block">
            </form>
            <script>
              $( "#unameUpdate" ).click(function() {
		  $.getJSON("/users/newname?fname=" + $("#first_name").val() + "&lname=" + $("#last_name").val()).done(function(data){
		      if ('Fail' in data) {
			  if ($("#messageDialog").length > 0)  {
			      $("#messageDialog").innerText = data.Fail;
			  }  else  {
			      $("body").append("<div id='messageDialog' class='modal-dialog modal-sm'>" + data.Fail + "</div>");
			  }
			  
			  return;
		      } else if ('Success' in data) {
			  if ($("#messageDialog").length > 0)  {
			      $("#messageDialog").innerText = "";
			  }
		      }
		  });
              });
	      $( "#passUpdate" ).click(function() {
		  $.post("/users/newpass", {csrfmiddlewaretoken: '{{ csrf_token }}', pass: $("#password_confirmation").val()}, function(data, textStatus) {
		      if ('Fail' in data) {
			  if ($("#messageDialog").length > 0)  {
			      $("#messageDialog").innerText = data.Fail;
			  }  else  {
			      $("body").append("<div id='messageDialog' class='modal-dialog modal-sm'>" + data.Fail + "</div>");
			  }
			  
			  return;
		      } else if ('Success' in data) {
			  $(location).attr('href', '/')
		      }
		      //data contains the JSON object
		      //textStatus contains the status: success, error, etc
		  }, "json");
	      });
	    </script>
	  </div>
	</div>
      </div>
    </div>
  </div>
  
</body>

</html>
