<html lang="en">
<head>
  {% load static %}
  {{ head_content }}
</head>

<body>
  {{ main_panel }}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>{{ message }}</h1>
      <p>{{ description }}</p>
    </div>
  </div>

  <hr>

  <footer>
    <p></p>
  </footer>

  <script>
    setTimeout(function(){ window.location = "{{ url }}"; }, {{ delay }});
  </script>

</body>
  
</html>
