<html lang="en">
<head>
  {% load static %}
  {{ head_content }}
</head>

<body>
  {{ main_panel }}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>Login failed</h1>
      <p>Email or password is wrong, try again.</p>
    </div>
  </div>

  <hr>

  <footer>
    <p></p>
  </footer>

</body>
  
</html>
