<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    {{ head_content }}
  </head>
  <body>
    {{ main_panel }}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container" style="position: relative; top: 100px;">
      <div class="jumbotron" style="border-radius: 20px;">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10">
              <img src="/static/images/sun.png" class="img-responsive" alt="Weather" style="width: 30px; height:30px; align: left;">
            </div>
            <div class="col-md-2">                        
              <div class="btn-group">
                <button id="tCelcius" type="button" class="btn btn-default active">°C</button>
                <button id="tFarengeit" type="button" class="btn btn-default">°F</button>
              </div>             
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <input type="text" class="form-control" id="city" placeholder="Input text">
            </div>
          </div>
        </div>
        
        <div  class="container-fluid">      
           <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="inputType" class="col-sm-1 control-label" style="text-align: left;"><p></p></label>
                <div class="col-sm-3 ">
                </div>
              </div>
           </form>
         </div>   
           <div id="w_table" class="container-fluid">
              <div class="row">
                <div id="day" class="col-md-12" style="background-color:lavender; align: center;"></div>
              </div>
              <div class="row">
                <div class="col-sm-3" style="background-color:lightgray; border-radius: 5px; height: 200px;">
                  <h5 id="type0"></h5>
                  <img id="wsign0" src="" alt="" style="max-width: 50px; max-height: 50px;">
                  <h6 id="temp0"></h6>
                  <div class="bottom-head">
                    <p id="date0" style="font-size: 12px;"></p>
                    <p id="day0" style="font-size: 14px;"></p>
                  </div>
                </div>
                <div class="col-sm-3" style="background-color:white; border-radius: 5px; height: 200px;">
                  <h5 id="type1"></h5>
                  <img id="wsign1" src="" alt="" style="max-width: 50px; max-height: 50px;">
                  <h6 id="temp1"></h6>
                  <div class="bottom-head">
                  <p id="date1" style="font-size: 12px;"></p>
                  <p id="day1" style="font-size: 14px;"></p>
                </div>
              </div>
                <div class="col-sm-3" style="background-color:lightgray; border-radius: 5px; height: 200px;">
                  <h5 id="type2"></h5>
                  <img id="wsign2" src="" alt="" style="max-width: 50px; max-height: 50px;">
                  <h6 id="temp2"></h6>
                  <div class="bottom-head">
                    <p id="date2" style="font-size: 12px;"></p>
                    <p id="day2" style="font-size: 14px;"></p>
                  </div>
                </div>
                <div class="col-sm-3" style="background-color:white; border-radius: 5px; height: 200px;">
                  <h5 id="type3"></h5>
                  <img id="wsign3" src="" alt="" style="max-width: 50px; max-height: 50px;">
                  <h6 id="temp3"></h6>
                  <div class="bottom-head">
                    <p id="date3" style="font-size: 12px;"></p>
                    <p id="day3" style="font-size: 14px;"></p>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>    
        <script>
	  function csrfSafeMethod(method) {
	      // these HTTP methods do not require CSRF protection
	      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	  }
	  
	  $.ajaxSetup({
	      beforeSend: function(xhr, settings) {
		  if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
		      xhr.setRequestHeader("X-CSRFToken", csrftoken);
		  }
	      }
	  });
	  
          var initLoad = true;
          var g_celcius = true;
          
          /*
          <yahoo-weather-codes>
          <code number="0" description="tornado"/>
          <code number="1" description="tropical storm"/>
          <code number="2" description="hurricane"/>
          <code number="3" description="severe thunderstorms"/>
          <code number="4" description="thunderstorms"/>
          <code number="5" description="mixed rain and snow"/>
          <code number="6" description="mixed rain and sleet"/>
          <code number="7" description="mixed snow and sleet"/>
          <code number="8" description="freezing drizzle"/>
          <code number="9" description="drizzle"/>
          <code number="10" description="freezing rain"/>
          <code number="11" description="showers"/>
          <code number="12" description="showers"/>
          <code number="13" description="snow flurries"/>
          <code number="14" description="light snow showers"/>
          <code number="15" description="blowing snow"/>
          <code number="16" description="snow"/>
          <code number="17" description="hail"/>
          <code number="18" description="sleet"/>
          <code number="19" description="dust"/>
          <code number="20" description="foggy"/>
          <code number="21" description="haze"/>
          <code number="22" description="smoky"/>
          <code number="23" description="blustery"/>
          <code number="23" description="breezy"/>
          <code number="24" description="windy"/>
          <code number="25" description="cold"/>
          <code number="26" description="cloudy"/>
          <code number="27" description="mostly cloudy (night)"/>
          <code number="28" description="mostly cloudy (day)"/>
          <code number="29" description="partly cloudy (night)"/>
          <code number="30" description="partly cloudy (day)"/>
          <code number="31" description="clear (night)"/>
          <code number="32" description="sunny"/>
          <code number="33" description="fair (night)"/>
          <code number="34" description="fair (day)"/>
          <code number="34" description="mostly sunny"/>
          <code number="35" description="mixed rain and hail"/>
          <code number="36" description="hot"/>
          <code number="37" description="isolated thunderstorms"/>
          <code number="38" description="scattered thunderstorms"/>
          <code number="39" description="scattered showers"/>
          <code number="41" description="heavy snow"/>
          <code number="42" description="scattered snow showers"/>
          <code number="43" description="heavy snow"/>
          <code number="44" description="partly cloudy"/>
          <code number="45" description="thundershowers"/>
          <code number="46" description="snow showers"/>
          <code number="47" description="scattered thundershowers"/>
          <code number="3200" description="not available"/>
          </yahoo-weather-codes>          
          */
          
          var w_images = {
                          '4': 'Thunderstorms.png',  
                          '10d': 'Showers.png',
                          '10n': 'Showers.png',
                          '09d': 'Showers.png', 
                          '09n': 'Showers.png',
                          '13d': 'Snow.png',
                          '13n': 'Snow.png',
                          '23': 'Breezy.png',  
                          '50d': 'Windy.png',  
                          '50n': 'Windy.png',  
                          '03d': 'Cloudy.png',  
                          '03n': 'Cloudy.png',  
                          '04d': 'PartCloudy.png', 
                          '04n': 'PartCloudy.png', 
                          '02n': 'PartCloudy.png', 
                          '02d': 'PartCloudy.png', 
                          '01d': 'Sunny.png', 
                          '01n': 'Sunny.png', 
                          '34': 'MostSunny.png',
                          '11d': 'Thunderstorms.png',
                          '11n': 'Thunderstorms.png',
                          '39': 'ScatShowers.png',
                          '44': 'PartCloudy.png', 
                          '47': 'Thunderstorms.png',
                          };
          //var json = JSON.parse(w_images);
					
          function updateWeather(city, celcius) {
            var type = (celcius) ? ("C") : ("F");
            var sym  = "°";
            //var query = "select item.forecast from weather.forecast where woeid in (select woeid from geo.places(1) where text='" + city + "') and u='" + type + "' limit 4";
            //var query = "select item.forecast from weather.forecast where woeid in (select woeid from geo.places where text=\"({{ lat }}, {{ lon }})\") and u='" + type + "' limit 4";
	    //https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20weather.forecast%20where%20woeid%20in%20(select%20woeid%20from%20geo.places%20where%20text=%27moscow,ru%27)&format=json
            /*$.getJSON("https://query.yahooapis.com/v1/public/yql?q=" + query + "&format=json").done(function(data){
              for (var i = 0; i < 4; i++) {
                var id = "#" + "temp" + i;
                $(id).html(data.query.results.channel[i].item.forecast.high + sym);
                id = "#" + "type" + i;                  
                $(id).html(data.query.results.channel[i].item.forecast.text);
                id = "#" + "date" + i;                  
                $(id).html(data.query.results.channel[i].item.forecast.date);
                id = "#" + "day" + i;                  
                $(id).html(data.query.results.channel[i].item.forecast.day);

                id = "#" + "wsign" + i;                  
                
                var w_code = data.query.results.channel[i].item.forecast.code;
                
                var imag = w_images[w_code];
                
                if (imag === undefined)
                  $(id).attr('src', '/static/images/Umbrella.png');
                else   
                  $(id).attr('src', '/static/images/' + imag);                
              }
							
              $("#city").val(city);
              });*/
	      
	    $.getJSON("/weather/city?city=" + city + "&type=" + type).done(function(data){
              if ('Fail' in data) {
                  $("#w_table").hide();
		  return;
	      } else {
                  $("#w_table").show();
	      }
		
              for (var i = 0; i < 4; i++) {
                var id = "#" + "temp" + i;
                $(id).html(data[i].temp + sym);
                id = "#" + "type" + i;                  
                $(id).html(data[i].weather);
                id = "#" + "date" + i;                  
                $(id).html(data[i].date);
                id = "#" + "day" + i;                  
                $(id).html(data[i].day);

                id = "#" + "wsign" + i;                  
                
                var w_code = data[i].code;
                
                var imag = w_images[w_code];
                
                if (imag === undefined)
                  $(id).attr('src', '/static/images/Umbrella.png');
                else   
                  $(id).attr('src', '/static/images/' + imag);                
              }
							
              $("#city").val(city);
	    });
          }
					
          //$(document).ready(function(){
          //$(document).load(function(){
          $(window).on('load', function(e) {
            e.preventDefault();
            if (initLoad)
              updateWeather("{{ city }}", g_celcius)
						
            initLoad = false;
          //var city = "Bangalore";
          //var type = "C";
          //var sym  = "°";
          //var query = "select item.forecast from weather.forecast where woeid in (select woeid from geo.places(1) where text='munic, de') and u='c' limit 4";
          //var searchtext = "select item.condition from weather.forecast where woeid in (select woeid from geo.places(1) where text='" + city + "') and u='c'";
          //$.getJSON("https://query.yahooapis.com/v1/public/yql?q=" + query + "&format=json", function(data){
          //console.log(data);
          //$('#tmp').html("Temperature in " + city + " is " + data.query.results.channel[0].item.condition.temp + "°C");
          //alert("Temperature in " + city + " is " + data.query.results.channel[i].item.forecast.high + "°C");
          //for (var i = 0; i < 4; i++) {
          //  var id = "#" + "temp" + i;
          //  $(id).html(data.query.results.channel[i].item.forecast.high + sym);
          //  id = "#" + "type" + i;                  
          //  $(id).html(data.query.results.channel[i].item.forecast.text);
          //  id = "#" + "date" + i;                  
          //  $(id).html(data.query.results.channel[i].item.forecast.date);
          //  id = "#" + "day" + i;                  
          //  $(id).html(data.query.results.channel[i].item.forecast.day);
          //}
          //});
          });
          
          $("#city").on("keypress", function (e) {
            if(e.which === 13){
              e.preventDefault();
              updateWeather($("#city").val(), g_celcius);
            }
          });
          
          $("#tCelcius").on('click', function () {
          	g_celcius = true;
            updateWeather($("#city").val(), g_celcius);
            $(this).addClass('active');
            $("#tFarengeit").removeClass('active');
          })
          
          $("#tFarengeit").on('click', function () {
          	g_celcius = false;
            updateWeather($("#city").val(), g_celcius);
            $(this).addClass('active');
            $("#tCelcius").removeClass('active');
          })
        </script>
  </body>
</html>
