<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  {{ head_content }}
</head>

  <body>
    {{main_panel}}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div class="blog-header">
          <h1 class="blog-title">Chat</h1>
          <p class="lead blog-description"></p>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">
        </div>
      </div>      
    </div>

    {% if forums %}
    <div class="container">
      <div class="row">
      </div>      
    </div>
    {% endif %}
  </body>
  
</html>
