<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  {{ head_content }}
</head>

  <body>
    {{main_panel}}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div class="blog-header">
          <h1 class="blog-title">K13 Forum section: {{ section.title }} </h1>
          <p class="lead blog-description">The official forum themes from K13 users.</p>
          {% if user != None %}
          <a href="/forum/theme/new/{{ section.id }}/" class="btn btn-basic btn-default" role="button">New topic</a>
          {% else %}
          <p>Please, login to add new theme.</p>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">
          {% if themes %}
          {% for theme in themes %}
          <div class="blog-post">
            <h3 class="blog-post-title">
              <a href="/forum/theme/{{ theme.id }}/1/"  style="text-decoration: none; font-size: 22px;">
                {{ theme.title }}
              </a>
            </h3>
            <p class="blog-post-meta" style="font-size: 15px;">
              {{ theme.date }} by  {{ theme.user.uname }}
            </p>
            <p>{{ theme.content|slice:":255" }}</p>
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>

      <div class="row">
	<ul class="pagination">
	  {% if themes.has_previous %}
	  <li class="page-item"> <a href="/forum/{{ blogs.previous_page_number }}">&laquo;</a> </li>
	  {% else %}
	  <li class="page-item disabled"> <a href="">&laquo;</a></li>
	  {% endif %}
          
	  {% for page in themes.paginator.page_range %}
	  {%   if page == themes.number %}
	  <li class="page-item active"> <a href="/blogs/{{ page }}">{{ page }}</a></li>
	  {%   else  %}
	  <li class="page-item"> <a href="/blogs/{{ page }}">{{ page }}</a></li>
	  {%   endif %}
	  {% endfor  %}
          
	  {% if themes.has_next %}
	  <li class="page-item"> <a href="/blogs/{{ blogs.next_page_number }}">&raquo;</a> </li>
	  {% else %}
	  <li class="page-item disabled"> <a href="">&raquo;</a></li>
	  {% endif %}
	</ul>
      </div>
    </div>

  </body>

</html>
