<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  {{ head_content }}
</head>

  <body>
    {{main_panel}}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <div class="large-8 columns">
      </div>
    </div>
    
    <div class="container" style="position: relative; top: 100px;">
      <div class="well">
        <h4>Post new theme in {{ section.title }}.</h4>
        <div class="btn-group">
        </div>
        
        <form role="form" method="POST" action="/forum/theme/publish/">
          {% csrf_token %}
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="hidden" name="section" id="section" value="{{ section.id }}">
            <input type="text" class="form-control" id="title" name="title">
            <label for="content">Content:</label>
            <textarea class="form-control" rows="3"  name="content" id="content"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Publish</button>
        </form>
      </div>
      {% if message %}
      <div class="alert alert-info">
        <strong>Info!</strong> {{ message }}.
      </div>
      {% endif %}
    </div>

    
  </body>
  
</html>
