<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  {{ head_content }}
</head>

  <body onload="k_onLoad()">
    {{main_panel}}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div class="blog-header">
          <h1 class="blog-title">News</h1>
          <p class="lead blog-description">Actual news from world.</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <!--<div id='newsList' class="col-sm-8 blog-main timeline-items">
        
        </div>-->
        <ul class="list-group" id='newsList' >
        </ul>
      </div>
    </div>

    <script type="text/babel">
    function k_onLoad() {
      $.getJSON("/news/actual/").done(function(data) {
        showNews(data);
      });
    }

    function showNews(news) {
      if (news == undefined || news == null)
        return;

      let len = Object.keys(news).length;
      let n = 0;

      let elements = new Array();

      for (n = 0; n < len; n++) {
        elements[n] = news[n];
      }

      /*let elist = elements.map((data) => 
        <div className="timeline-item">
					<div className="timeline-left">
						<div className="timeline-left-wrapper">
							<span className="timeline-date">{data.date}</span>
						</div>
					</div>
					<div className="timeline-right">
						<div className="timeline-post-image">
							<a href={data.link}>
								<img src={data.img} width="128"></img>
							</a>
						</div>
						<div className="timeline-post-content">
							<a href={data.link}>
								<h3 className="timeline-post-title">{data.title}</h3>
							</a>
							<div className="timeline-post-info">
								<a href={data.link} className="author">{data.author}</a>
							</div>
						</div>
					</div>
				</div>
      );*/

      let elist = elements.map((data) => 
          <li class="list-group-item">
            <div className="row">
              <table> <tr> <td>
							<a href={data.link}>
								<img src={data.img} width="128"></img>
							</a>              
              </td> 
              <td className="k13_news_title">
              {data.title}
              </td> </tr> </table>
            </div>
          </li>  
      );

      ReactDOM.render(elist, document.getElementById('newsList'));
    }
    </script>
  </body>

</html>
