<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  {{ head_content }}
</head>

  <body>
    {{main_panel}}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="well">
      </div>
    </div>

    <div class="container">
      <div class="large-8 columns">
      </div>

    </div>

  </body>
  
</html>
