<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  {{ head_content }}
</head>

<body>
  
  {{ main_panel }}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>Signup</h1>
      <p>Please register your user for use our services.</p>
      <br>
      <p> {{ message }} </p>
    </div>
  </div>
  
  <div class="container">
    <div class="row centered-form">
      <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
	    	<h3 class="panel-title">Please sign up for K13 services. <small>It's free!</small></h3>
	  	  </div>
	  <div class="panel-body">
	    <form role="form" method="POST" action="/users/signup/"> 
	      {% csrf_token %}
	      <script type="text/javascript">
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
          </script>
              
	      <div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6">
		  <div class="form-group">
		    <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name" value="usera">
		  </div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6">
		  <div class="form-group">
		    <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name" value="user_a">
		  </div>
		</div>
	      </div>
              
	      <div class="form-group">
		<input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address" value="user@mail.com">
	      </div>
              
	      <div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6">
		  <div class="form-group">
		    <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password" value="123">
		  </div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6">
		  <div class="form-group">
		    <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password" value="123">
		  </div>
		</div>
		</div>
	      
	      <input type="submit" value="Register" class="btn btn-info btn-block">
	    </form>
	  </div>
	</div>
      </div>
    </div>
  </div>
  
</body>

</html>
