<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  {{ head_content }}
</head>
<body>
  {{ main_panel}}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>Signup successfully finished.</h1>
      <p>Please login now.</p>
      <br>
      <p> {{ message }} </p>
    </div>
  </div>
  
  
</body>
</html>
